<%= form_for @album, :url => albums_path, :html => { :multipart => true } do |form| %>
<%= form.text_field :albumname %>
  <%= form.file_field :image %>
  <%=form.submit%>
<% end %>
<div id=name></div>
<div id=email></div>
<input type="button" onclick='fblogin();' id="bt"  value="facebook login"/>
 <img src="#" id="gpab" >
 <img src="#" id="fpab" >
 <div class="g-signin2" data-onsuccess="onSignIn"></div>
 <a href="#" onclick="signOut();">Sign out</a>
<script>
//***** For google *****// 
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  $("#name").empty().html( profile.getName());
  $("#name").empty().html( profile.getEmail());
   $('#gpab').attr('src', profile.getImageUrl());
  
}
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

 //-------------------------------------------------------------------------------------------------------------------        
          window.fbAsyncInit = function () {
              FB.init({
                  appId: '291552081050269',
                  xfbml: true,
                  version: 'v2.1'
              });
          };

          (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) { return; }
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));




          function checkLoginState() {
              FB.getLoginStatus(function (response) {
                  statusChangeCallback(response);
              });
          }

          //check login status that wether already login or not
          FB.getLoginStatus(function (response) {
              statusChangeCallback(response);
          });




          function statusChangeCallback(response) {
              console.log('statusChangeCallback');
              console.log(response);
              // The response object is returned with a status field that lets the
              // app know the current login status of the person.
              // Full docs on the response object can be found in the documentation
              // for FB.getLoginStatus().
              if (response.status === 'connected') {
                  // Logged into your app and Facebook.
                  // testAPI();
              } else if (response.status === 'not_authorized') {
                  // The person is logged into Facebook, but not your app.
                  //document.getElementById('status').innerHTML = 'Please log ' +
                  'into this app.';
              } else {
                  // The person is not logged into Facebook, so we're not sure if
                  // they are logged into this app or not.
                  // document.getElementById('status').innerHTML = 'Please log ' +
                  'into Facebook.';
              }
          }



          function fblogin() {
              FB.login(function (response) {

                  statusChangeCallback(response);
                  getdetails();
              }, { scope: 'email' }


              );

          }

          // this function gives details..
          function getdetails() {
              FB.api('/me', function (response) {
                  console.log(response);
                  FB.logout(function (response) { });
                  //$('#show').innerHtml= response.email;
                  alert(response.email + "--->" + response.first_name);
                  image = "http://graph.facebook.com/" + response.id + "/picture";
                  
                  $('#fpab').attr('src', image);
                 
                  //alert(response.first_name);
                  var name = response.first_name;
                  var email = response.email;
                     $(function () {
                                  
                        
                         jQuery.ajax({
                         
                                  type: "POST",
                                  url: "Default.aspx/dataSave",
                                  data: "{'name': '" + name.toString() +", 'email': '" + email.toString() + "'}",
                                  contentType: "application/json; charset=utf-8",
                                  dataType: "json",
                                  success: function (msg) {
                                      $('#show').append(msg.d);
                                  }

                              });
             


                      });




              });
          }
       


</script>
